In [3]:
from empiricaldist import Pmf

In [4]:
coin = Pmf()
coin['H'] = 0.5
coin['T'] = 0.5
coin

H    0.5
T    0.5
dtype: float64

In [5]:
# cookie problem
prior = Pmf.from_seq(['Bowl 1', 'Bowl 2'])

In [6]:
likelihood_vanilla = [0.75, 0.5]

In [8]:
posterior = prior * likelihood_vanilla
posterior

Bowl 1    0.375
Bowl 2    0.250
Name: proportion, dtype: float64

In [10]:
posterior.normalize()
posterior

Bowl 1    0.6
Bowl 2    0.4
Name: proportion, dtype: float64

In [11]:
posterior *= likelihood_vanilla
posterior.normalize()
posterior

Bowl 1    0.692308
Bowl 2    0.307692
Name: proportion, dtype: float64

In [16]:
# 101 bowls
bowls = Pmf.from_seq([i for i in range(0,101)])
bowls

0      0.009901
1      0.009901
2      0.009901
3      0.009901
4      0.009901
         ...
96     0.009901
97     0.009901
98     0.009901
99     0.009901
100    0.009901
Name: proportion, Length: 101, dtype: float64

In [17]:
likelihood_vanilla = [i/100 for i in range(101)]

In [18]:
posterior = bowls * likelihood_vanilla
posterior.normalize()
posterior

0      0.000000
1      0.000198
2      0.000396
3      0.000594
4      0.000792
         ...
96     0.019010
97     0.019208
98     0.019406
99     0.019604
100    0.019802
Name: proportion, Length: 101, dtype: float64

In [21]:
# suppose second draw gives us a chocolate
posterior *= list(reversed(likelihood_vanilla))
posterior.normalize()
posterior

0      0.000000
1      0.000594
2      0.001176
3      0.001746
4      0.002304
         ...
96     0.002304
97     0.001746
98     0.001176
99     0.000594
100    0.000000
Name: proportion, Length: 101, dtype: float64